<!--
  Generated template for the ResultadosExamenAlumnoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>    
    <ion-title text-center>
      RESULTADOS
    </ion-title>
  </ion-navbar> 
</ion-header>


<ion-content padding>

    <ion-card>
      <ion-card-content>
        <div text-center>
          <h4>NOTA FINAL</h4> 
          <h1 id="notacss">{{nota}}</h1>
          <h3 id="msgcss" ion-text [color]="dynamicColor">{{msg}}</h3>
          <p>Se muestra la maxima nota de tus intentos</p>
        </div>
        <button float-left block outline  ion-button  color="default" (click)="irExamen()">Ir a Examenes</button>
        <button float-right block outline  ion-button  color="default" (click)="showAttempt=true">Ver Intentos</button>
      </ion-card-content>
    </ion-card>
    
    <div *ngIf=showAttempt>            
      <div *ngIf = "!!list_attempt" >
        <ion-card  padding>
        <ion-slides>
          <ion-slide *ngFor="let attempt of list_attempt">
            
              <ion-card-content>
                <ion-card-title>
                  Intento {{attempt.attempt_number}}
                </ion-card-title>

                <ion-item>
                  <ion-icon name="checkbox-outline" item-start large></ion-icon>
                  <h2>{{attempt.result }} puntos</h2>
                  <p>Resultado</p>
                </ion-item>

                <ion-item>
                  <ion-icon name="time" item-start large></ion-icon>
                  <h2>{{getTime(attempt.duration_time) }} segundos</h2>
                  <p>Duración</p>
                </ion-item>
                  <button outline ion-button icon-start (click) = "goPrev()" float-left>
                    <ion-icon name="ios-arrow-back"></ion-icon>
                  </button>
                  <button outline ion-button icon-end (click) = "goNext()" float-right>
                    <ion-icon name="ios-arrow-forward"></ion-icon>
                  </button>
              </ion-card-content>
            
          </ion-slide>
        </ion-slides>
        </ion-card>
      </div>
    </div>
</ion-content>
