<ion-header>
    <ion-title text-center padding>
      EXAMENES
    </ion-title> 
</ion-header>

<ion-content>
<div [ngSwitch]="partExamen">
  <div *ngSwitchCase = "'Inicio'">

    <div>
      <ion-segment [(ngModel)]="examen">
        <ion-segment-button value="exam-pendiente">
          Examenes Pendientes
        </ion-segment-button>
        <ion-segment-button value="exam-pasados">
          Examenes Pasados
        </ion-segment-button>
      </ion-segment>
    </div>
    <!--ESTE ES LA VISTA DE EXAMENES-->
    <div [ngSwitch]="examen">
      <div *ngSwitchCase="'exam-pendiente'">
          <ion-card *ngFor="let exam_pendiente of exam_pendientes">
              <ion-card-content>
                <ion-card-title id = 'myExam'>
                    {{exam_pendiente.name}}
                </ion-card-title>
                <p>
                    {{exam_pendiente.subject }}
                </p>
                <ion-item>
                  <ion-icon name="checkmark-circle-outline" item-start large></ion-icon>
                  <h2>{{exam_pendiente.correct_points }} puntos</h2>
                  <p>Puntaje preguntas correctas</p>
                </ion-item>
                <ion-item>
                    <ion-icon name="close" item-start large></ion-icon>
                    <h2>{{exam_pendiente.error_points }} puntos</h2>
                    <p>Puntaje preguntas incorrectas</p>
                </ion-item>
                <ion-item>
                    <ion-icon name="information-circle-outline" item-start large></ion-icon>
                    <h2>{{exam_pendiente.attempts_allowed }} intentos</h2>
                    <p>Intentos permitidos</p>
                </ion-item>
                <ion-item>
                  <ion-icon name="time" item-start large></ion-icon>
                  <h2>{{getTime(exam_pendiente.duration_time) }}  minutos</h2>
                  <p>Duración</p>
                </ion-item>
                <button id="id_examen" block outline ion-button color="primary" (click)="rendirExamen(exam_pendiente.id,exam_pendiente.name)">Rendir Examen</button>
              </ion-card-content>
          </ion-card>
      </div>
            
 <!--       <ion-list >
          <ion-item>
            <ion-card>
              <ion-card-header id='myExam'>
                  
              </ion-card-header>
              <ion-card-content>
                

                    <p> Tema: </p>                 
                    <ion-item> Peso preguntas correctas: {{exam_pendiente.correct_points }}</ion-item>
                    <ion-item> Peso preguntas incorrectas: {{exam_pendiente.error_points }}</ion-item>
                    <ion-item> Intentos Permitidos: {{exam_pendiente.attempts_allowed }}</ion-item>
                    <ion-item> Inicio de Examen: {{getFecha(exam_pendiente.start_datetime) }}</ion-item>
                    <ion-item> Fin de Examen: {{getFecha(exam_pendiente.end_datetime) }}</ion-item>
                    <ion-item> Duracion: {{getTime(exam_pendiente.duration_time) }}</ion-item>

                  <button id="id_examen" ion-button (click)="rendirExamen(exam_pendiente.id,exam_pendiente.name)">Rendir Examen</button>

              </ion-card-content>
            </ion-card>
          </ion-item>
        </ion-list> -->
      

      <div *ngSwitchCase="'exam-pasados'">
        <ion-list *ngFor="let exam_pasado of exam_pasados">
          <ion-item>
          <ion-card>
          <ion-grid>
            <ion-row>
              <ion-col>{{exam_pasado.nombre}}</ion-col>
              <ion-col><button ion-button >Ver nota</button></ion-col>
            </ion-row>
          </ion-grid>
          </ion-card>
          </ion-item>
        </ion-list>
      </div>
    </div>

  </div>
  <!--ESTE ES LA VISTA PARA REALIZAR PREGUNTAS-->
  <div *ngSwitchCase = "'Preguntas'">
    <ion-toolbar>
        <timer [timeInSeconds]="duracionExamen"></timer>
    </ion-toolbar>
    <ion-slides>
      <ion-slide *ngFor="let pregunta of preguntas">
        <ion-card>
          <ion-card-content>
          <ion-card-header>
            {{examenPendingCurrent.name}}
          </ion-card-header>
          <br>
            {{pregunta.name}}
          <br>
          <br>
          Marcar las alternativas correctas.
          <br>
          <br>

          <ion-item *ngIf = "!!pregunta.solution['a']">
            <ion-label text-wrap text-justify>a. {{pregunta.solution["a"]}}</ion-label>
            <ion-checkbox (ionChange)="updateChoice(pregunta.id,'a')"></ion-checkbox>
          </ion-item>
          <ion-item  *ngIf = "!!pregunta.solution['b']">
            <ion-label text-wrap text-justify>b. {{pregunta.solution["b"]}}</ion-label>
            <ion-checkbox (ionChange)="updateChoice(pregunta.id,'b')"></ion-checkbox>
          </ion-item>
          <ion-item *ngIf = "!!pregunta.solution['c']">
            <ion-label text-wrap text-justify>c. {{pregunta.solution["c"]}}</ion-label>
            <ion-checkbox (ionChange)="updateChoice(pregunta.id,'c')"></ion-checkbox>
          </ion-item>
          <ion-item *ngIf = "!!pregunta.solution['d']">
            <ion-label text-wrap text-justify>d. {{pregunta.solution["d"]}}</ion-label>
            <ion-checkbox (ionChange)="updateChoice(pregunta.id,'d')"></ion-checkbox>
          </ion-item>
          <ion-item *ngIf = "!!pregunta.solution['e']">
            <ion-label text-wrap text-justify>e. {{pregunta.solution["e"]}}</ion-label>
            <ion-checkbox (ionChange)="updateChoice(pregunta.id,'e')"></ion-checkbox>
          </ion-item>
          </ion-card-content>
          <div>
            <button ion-button color="light" icon-only><ion-icon name="ios-arrow-back"></ion-icon></button>
            <button ion-button color="light" icon-only><ion-icon name="ios-arrow-forward" ></ion-icon></button>
          </div>
        </ion-card>
        <button ion-button (click)="verResultados()">Terminar Examen</button>
      </ion-slide>
    </ion-slides>
  </div>
  <!--Vistas para mirar el resultado-->
  <div *ngSwitchCase = "'Resultados'">
    <ion-card>
      <ion-card-content>
        <h4>ESTOS SON TU RESULTADOS:</h4> 
        <h5>NOTA FINAL: {{nota}}</h5>
      </ion-card-content>
    </ion-card>
    <button ion-button color="default" (click)="irExamen()">Ir a Examenes</button>
  </div>
</div>
</ion-content>