<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>    
    <ion-title text-center>
      EXÁMENES
    </ion-title>
  </ion-navbar> 
</ion-header>

<ion-content>
  <div padding>
      <ion-segment [(ngModel)]="examen">
        <ion-segment-button value="exam-pendiente">
          Examenes Pendientes
        </ion-segment-button>
        <ion-segment-button value="exam-pasados">
          Examenes Pasados
        </ion-segment-button>
      </ion-segment>
  </div>
  <div>
    <!--ESTE ES LA VISTA DE EXAMENES-->
    <div [ngSwitch]="examen">
      <div *ngSwitchCase="'exam-pendiente'">
          <ion-card *ngFor="let exam_pendiente of exam_pendientes">
              <ion-card-content>
                <ion-card-title id = 'myExam'>
                    {{exam_pendiente.name}}
                </ion-card-title>
                <p>
                    {{exam_pendiente.subject }}
                </p>
                <ion-item>
                  <ion-icon name="checkbox-outline" item-start large></ion-icon>
                  <h2>{{exam_pendiente.correct_points }} puntos</h2>
                  <p>Puntaje preguntas correctas</p>
                </ion-item>
                <ion-item>
                    <ion-icon name="md-close" item-start large></ion-icon>
                    <h2>{{exam_pendiente.error_points }} puntos</h2>
                    <p>Puntaje preguntas incorrectas</p>
                </ion-item>
                <ion-item>
                    <ion-icon name="md-color-wand" item-start large></ion-icon>
                    <h2>{{exam_pendiente.attempts_allowed }} intentos</h2>
                    <p>Intentos permitidos</p>
                </ion-item>
                <ion-item>
                  <ion-icon name="time" item-start large></ion-icon>
                  <h2>{{getTime(exam_pendiente.duration_time) }}  minutos</h2>
                  <p>Duración</p>
                </ion-item>
                <button id="id_examen" block outline ion-button color="primary" (click)="rendirExamen(exam_pendiente.id,exam_pendiente.name)">Rendir Examen</button>
              </ion-card-content>
          </ion-card>
      </div>
            
      <div *ngSwitchCase="'exam-pasados'">
          <ion-card *ngFor="let exam_pasado of exam_pasados">
              <ion-card-content>
                <ion-card-title id = 'myExam'>
                    {{exam_pasado.exam.name}}
                </ion-card-title>
                <p>
                    {{exam_pasado.exam.subject }}
                </p>
                <ion-item>
                  <ion-icon name="checkbox-outline" item-start large></ion-icon>
                  <h2>{{exam_pasado.final_result }} puntos</h2>
                  <p>Nota Final</p>
                </ion-item>
                <ion-item>
                    <ion-icon name="md-color-wand" item-start large></ion-icon>
                    <h2>{{exam_pasado.attempt.attempt_count }} intentos</h2>
                    <p>Intentos realizados</p>
                </ion-item>
                <button id="id_examen" block outline ion-button color="primary" (click)="rendirExamen(exam_pendiente.id,exam_pendiente.name)">Ver intentos</button>
              </ion-card-content>
          </ion-card>
      </div>
    </div>
  </div>
</ion-content>